body {
    background-color: beige;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
}

h5 {
    text-align: left;
    font-size: larger;
}
